<!--< %= link_to('Новый тип письма', new_type_letter_path, :class => 'btn btn-primary btn-block btn-lg')  %>-->

<table class="table">
  <thead>
  <tr>
    <th class="title">Направление</th>
    <th class="title">Сервисный номер</th>
    <th class="title">Имя</th>
  </tr>
  </thead>
  <tbody>
  <% @typeLetters.each do |f| %>
    <tr>
      <td class="data"><% if f.direction == 1 %>Входящий<% elsif f.direction == 2 %>Исходящий<% end %></td>
      <td class="data"><%= f.service_number  %></td>
      <!--<td class="data">< %= link_to(f.name, edit_type_letter_url(f)) %></td>-->
      <td class="data"><%= f.name %></td>
    </tr>
  <% end %>

  </tbody>
</table>