<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Оригинал письма доступен по <a href="<%= @url %>">ссылке</a>.</p>
</body>
</html>
