<%= form_for @attached do |f| %>
  <div class="modal-body">
    <table class="table table-striped">
      <tr class="success" hidden="true">
        <td class="title">ID письма</td>
        <td class="data">
          <%= f.text_field :letter_id %>
        </td>
      </tr>
      <tr class="success">
        <td class="title">Файл</td>
        <td class="data">
          <%= f.file_field :attached %>
        </td>
      </tr>
    </table>
    <div class="modal-footer">
      <%= f.submit 'Сохранить', :class => 'btn btn-primary btn-block btn-lg' %>
    </div>
  </div>
<%end%>